<div style="text-align: center;">
	<div id="puzzle-content" style="text-align: center;">
		<div style="width:550px;">
			<div style="display: inline-block;">
				<div id="crossword-grid-overlay"></div>
				<table id="crossword-table"></table>
			</div>
		</div>
		<div style="width:600px;">
			<div id="construct-select">
				<div id="construct-fill-button" class="construct-type">Fill</div>
				<div id="construct-build-button" class="construct-type">Build</div>
			</div>
			<div id="reset-buttons">
				<div id="clear-letters-button">Clear Letters</div>
				<div id="clear-all-button">Clear All</div>
			</div>
			<div id="fill-section"></div>
			<div id="build-section" class="hidden">
				<div id="mirror-select">
					<div class="mirror-type">Freeform</div>
					<div class="mirror-type">X-Axis</div>
					<div class="mirror-type">Y-Axis</div>
					<div class="mirror-type">XY-Axis</div>
					<div class="mirror-type">Rotational</div>
					<div class="mirror-type">Diagonal</div>
				</div>
				<div id="specifications">
					<div id="full-sizes">
						<div id="preset-15">15 x 15</div>
						<div id="preset-21">21 x 21</div>
					</div>
					<div id="mini-sizes">
						<div id="preset-5">5 x 5</div>
						<div id="preset-6">6 x 6</div>
						<div id="preset-8">8 x 8</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>