<div style="text-align: center;">
	<div id="puzzle-content" style="text-align: center;">
		<div style="width:550px;">
			<div style="display: inline-block;">
				<div id="crossword-grid-overlay"></div>
				<table id="crossword-table"></table>
			</div>
			<table style="font-family: Montesarrat;display:grid;border:none;width: 80%;margin:auto;margin-top: 20px;grid-template-columns: 50% 50%; height: 35px; line-height: 35px; font-size: 13px; color: white">
				<td id="save-button"><div>Save</div></td>
			</table>
		</div>
		<div style="width:600px;">
			<div id="construct-controls">
				<table id="construct-table">
					<tr id="construct-select">
						<td id="construct-fill-button" class="construct-type">Fill</td>
						<td id="construct-build-button" class="construct-type">Build</td>
					</tr>
					<tr id="reset-buttons">
						<td id="clear-letters-button" class="clear-button">Clear Letters</td>
						<td id="clear-all-button" class="clear-button">Clear All</td>
					</tr>
				</table>
			</div>
			<div id="fill-section">
				<div style="text-align: center; font-size: 16px">Possible Fill Words</div>
				<!-- <div id="word-button">get words</div> -->
				<table style="display:grid;border:none;width: 80%;margin:auto;margin-bottom: 10px;grid-template-columns: 50% 50%; height: 380px;">
					<div id="word-list-1" class="word-list"></div>
					<div id="word-list-2" class="word-list"></div>
				</table>
			</div>
			<div id="build-section" class="hidden" style="text-align:left;height: 475px;">
				<div id="mirror-select">
					<div class="build-title">Build Design Mirroring</div>
					<div class="mirror-type">
						<div class="mirror-name">Freeform</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/freeform.png"/>
					</div>
					<div class="mirror-type">
						<div class="mirror-name">X-Axis</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/mirror-x-axis.png"/>
					</div>
					<div class="mirror-type">
						<div class="mirror-name">Y-Axis</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/mirror-y-axis.png"/>
					</div>
					<div class="mirror-type">
						<div class="mirror-name">XY-Axis</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/mirror-xy-axis.png"/>
					</div>
					<div class="mirror-type">
						<div class="mirror-name">Rotational</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/mirror-rotate.png"/>
					</div>
					<div class="mirror-type">
						<div class="mirror-name">Diagonal</div>
						<img class="mirror-img" style="height: 50px" src="./../../assets/mirror-diagonal.png"/>
					</div>
				</div>
				<div id="specifications">
					<div class="size-selector" id="full-sizes">
						<div class="build-title">Grid Sizes</div>
						<div class="size-button" id="preset-15"><div style="margin: auto;">15 x 15</div></div>
						<div class="size-button" id="preset-21"><div style="margin: auto;">21 x 21</div></div>
					</div>
					<div class="size-selector" id="mini-sizes">
						<div class="build-title">Grid Mini Sizes</div>
						<div class="size-button" id="preset-5"><div style="margin: auto;">5 x 5</div></div>
						<div class="size-button" id="preset-6"><div style="margin: auto;">6 x 6</div></div>
						<div class="size-button" id="preset-8"><div style="margin: auto;">8 x 8</div></div>
					</div>
				</div>
			</div>
			<div id="clue-section" class="hidden" style="text-align:left;">
				<table style="display:grid;border:none;width: 80%;margin:auto;margin-bottom: 10px;grid-template-columns: 50% 50%;">
					<div id="across-clues-section" class="clue-section" style="margin-right: 10px;">
						<div id="across-clues-title" class="clue-section-title">Across</div>
						<div id="across-clues-listing" class="clue-section-listing" style="overflow:scroll;height:538px;"></div>
					</div>
					<div id="down-clues-section" class="clue-section">
						<div id="down-clues-title" class="clue-section-title">Down</div>
						<div id="down-clues-listing" class="clue-section-listing" style="overflow:scroll;height:538px;"></div>
					</div>
				</table>
			</div>
			<div style="margin-right: 50px;float:right;"><div id="clue-mode-toggle">Continue To Cluing >></div></div>
			<div id="review-section" class="hidden">
				<div>Clue Pannel</div>
				<div>Across Clues</div>
				<div>Down Clues</div>
				<div>Save? or Submit?</div>
			</div>
		</div>
	</div>
</div>