.number-label {
	position: relative;
	top: -18px;
	left: 2px;
	text-align: left;
	height: 10px;
	line-height: 10px;
	font-size: 8px;
}

.grid-letter {
	font-size: 16px;
	height: 2px;
	line-height: 0px;
	font-weight: 100;
}

#puzzle-content {
	display: inline-flex;
	max-width: 1200px;
	height: 700px;
}

#construct-table {
	font-family: Montesarrat;
	display: grid;
	border: none;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
}

#construct-select{
	display:inline-flex;
	margin-bottom: 10px;
	border: none;
}

.clear-button {
	cursor: pointer;
	font-size: 13px;
	color: black;
	width: 50%;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

.clear-button:hover {
	color: rgb(241, 61, 60);
}

.construct-type {
	border-bottom: black 1px solid;
	font-size: 18px;
	cursor: pointer;
	color: black;
	width: 50%;
	height: 25px;
	line-height: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.construct-type.selected{
	color: rgb(24, 154, 214);
	border-bottom: rgb(24, 154, 214) 2px solid;
}

.construct-type:hover{
	border-bottom: rgb(24, 154, 214) 2px solid;
}

#reset-buttons {
	display:inline-flex;
	margin-bottom: 5px;
}

.word-list-nav {
	font-size: 25px;
	cursor: pointer;
	color: rgb(24, 154, 214);
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 16px;
}

.word-list-nav.inactive {
	color: rgb(189, 215, 238);
}

#mirror-select{
	display:block;
	margin: auto;
	margin-bottom: 20px;
	width: 480px;
}

.mirror-type {
	cursor: pointer;
	font-size: 13px;
	color: rgb(24, 154, 214);
	line-height: 30px;
	margin: 5px;
	display: inline-flex;
	width: 150px;
	text-align: center;
	height: 70px;
}

.mirror-type.selected {
	border: 1px solid rgb(24,154,214);
	height: 68px;
	width: 148px;
}

.mirror-name{
	margin: auto;
}

.mirror-img{
	margin: auto;
}

.size-selector {
	display:block;
	margin: auto;
	margin-bottom: 20px;
	width: 480px;
	text-align: left;
}

.size-button {
	cursor: pointer;
	font-size: 15px;
	color: white;
	background-color: rgb(24, 154, 214);
	line-height: 30px;
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-flex;
	width: 150px;
	text-align: center;
	height: 35px;
}

#fill-section{
	width: 80%;
	margin: auto;
	height: 475px;
}

.word-list{
	margin-top: 15px;
	height: 400px;
}

.word-list div{
	font-family: Courier;
	height: 20px;
	font-size: 15px;
	line-height: 20px;
	margin: auto;
}

.fill-word{
	cursor: pointer;
}

.fill-word:hover{
	background-color: rgb(221, 235, 247);
}

.clue{
	padding-top: 10px;
	display: inline-flex;
	width: 100%;
}

.clue.selected {
	background-color: rgb(221, 235, 247);
}

.clue.selected:hover {
	background-color: rgb(221, 235, 247);
}

.clue.selected textarea.clue-input{
	height: 60px;
}

textarea.clue-input {
	font-family: Arial;
	height: 15px;
	resize: none;
	border: none;
	width: 100%;
	background-color: inherit;
	overflow: hidden
}

textarea.clue-input:focus {
	outline: none;
}

.clue-number {
	font-family: Arial;
	width: 40px;
}

.review-button {
	background-color: rgb(24, 154, 214);
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.review-button:hover{
	background-color: rgb(24, 154, 214, 1);
	text-decoration: underline;
}

.review-disabled{
	background-color: #888;
	cursor: not-allowed;
}

.review-disabled:hover{
	background-color: #777;
	cursor: not-allowed;
	text-decoration: none;
}

#clue-mode-toggle{
	color: rgb(24, 154, 214);
	text-align: right;
	cursor: pointer;
}

#clue-mode-toggle:hover{
	text-decoration: underline;
}

.hidden {
	display: none;
}
