#crossword-table {
	border-spacing: 0px;
	border: 1px solid #000;
	cursor: pointer;
	font-family: Arial;
}

#crossword-table th {
	height: 50px;
	width: 50px;
	border: 1px solid #000;
}

#crossword-table th.inactive{
	background-color: black;
	cursor: default;
}

#crossword-table th.focus{
	background-color: rgb(235, 231, 153);
}

#crossword-table th.focus-word{
	background-color: rgb(200, 222, 244);
}

.number-label {
	position: relative;
	top: -18px;
	left: 2px;
	text-align: left;
	height: 10px;
	line-height: 10px;
	font-size: 8px;
}

.grid-letter {
	font-size: 16px;
	height: 2px;
	line-height: 0px;
	font-weight: 100;
}

#puzzle-content {
	display: inline-flex;
	max-width: 1200px;
	height: 700px;
}


.hidden {
	display: none;
}

#construct-controls {
	font-family: Montesarrat;
	display: grid;
	border: none;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}

#construct-select{
	display:inline-flex;
	margin-bottom: 10px;
	border: none;
}

.construct-button {
	cursor: pointer;
	font-size: 13px;
	color: white;
	background-color: #BBB;
	width: 50%;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

.construct-button.selected{
	background-color: black;
}

#reset-buttons {
	display:inline-flex;
	margin-bottom: 10px;
}

#reset-buttons td {
	background-color: black;
}

#mirror-select{
	display:block;
	margin: auto;
	margin-bottom: 20px;
	width: 480px;
}

.mirror-type {
	cursor: pointer;
	font-size: 13px;
	color: white;
	background-color: #CCA;
	line-height: 30px;
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-flex;
	width: 150px;
	text-align: center;
	height: 70px;
}

.mirror-type.selected {
	background-color: black;
}

.mirror-name{
	margin: auto;
}

.mirror-img{
	margin: auto;
}

.size-selector {
	display:block;
	margin: auto;
	margin-bottom: 20px;
	width: 480px;
	text-align: left;
}

.size-button {
	cursor: pointer;
	font-size: 15px;
	color: white;
	background-color: #CCA;
	line-height: 30px;
	margin: auto;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-flex;
	width: 150px;
	text-align: center;
	height: 35px;
}

.build-title {
	margin-left: 6px;
	margin-bottom: 2px;
}
