.headline {
	font-size: 19px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: rgb(24, 154, 214);
	display: block;
	width: 100%;
	text-align: left;
	/*background-image: linear-gradient(45deg, rgb(24, 154, 214), white, white)*/
	/*color: white; */
}

.headline a {
	color: rgb(24, 154, 214);
	text-decoration: none;
}

#home-button{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 27px;
	line-height: 20px;
	cursor: pointer;
	float: left;
}

#headline-title{
	margin-right: 20px;
	float: left;
}

#puzzle-nav{
    text-align: left;
    border: none;
    font-family: Arial;
    border-spacing: 30px 0;
    margin-top: 50px;
}


.puzzle-link{
	cursor: pointer;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	height: 200px;
	width: 140px;
	border-spacing: 50px 0;
	border: 3px solid rgb(240,240,240);
}

.puzzle-link:hover{
	border-spacing: 50px 0;
	background-color: rgb(208,233,243);
	/*background-color: rgb(24, 154, 214, 0.2);*/
	/*background-color: rgb(200, 222, 244);*/
	border: 3px solid rgb(200, 222, 244);
}

.puzzle-title{
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	vertical-align: bottom;
	text-align: center;
	width: 80%;
	margin: auto;
	padding-bottom: 10px;
	padding-top: 20px;
	font-size: 14px;
	font-weight: bold;
}

.puzzle-section-title{
	font-family: Montesarrat;
	margin-left: 50px;
	margin-bottom: 15px;
	color: rgb(24, 154, 214);
	font-size: 16px;
}

.puzzle-section-selector {
	margin-left: 40px;
}

.puzzle-date{
	font-weight: normal;
	font-size: 14px;
	padding-top: 4px;
}

.puzzle-size{
	font-weight: normal;
	font-size: 14px;
	padding-top: 3px;
}

.puzzle-icon{
	height: 70px;
	width: 70px;
}

#nav-table {
    border: none;
    font-family: Arial;
    border-spacing: 30px 0;
}


.clue-section-title{
	font-family: Montesarrat;
	font-size: 20px;
	margin-bottom: 8px;
	padding-left: 5px;
}

.clue {
	font-family: "Helvetica Neue", Helvetica, Arial;
	background-color: rgb(250,250,250);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	cursor: pointer;
	line-height: 16px;
	font-size: 14px;
	display: inline-flex;
}

.clue:hover {
	background-color: rgb(240,240,240);
}

.clue-focus{
	background-color: rgb(200, 222, 244);
}

.clue-focus:hover{
	background-color: rgb(200, 222, 244);
}

.clue-number {
	font-weight: bold;
	width: 20px;
	font-size: 14px;
	text-align: right;
	margin-right: 10px;
}

.clue-text {
	width: 210px;
}

#crossword-table {
	border-spacing: 0px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	cursor: pointer;
	font-family: Arial;
	background-color: white;
}

#crossword-table th {
	height: 50px;
	width: 50px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

#crossword-table th.inactive{
	background-color: black;
	cursor: default;
}

#crossword-table th.focus{
	background-color: rgb(235, 231, 153);
}

#crossword-table th.focus-word{
	background-color: rgb(200, 222, 244);
}

#create-button {
	text-decoration: none;
	color:white;width: 130px;
	height: 30px;
	background-color: rgb(24, 154, 214);;
	display: block;
	text-align: center;
	line-height: 30px;
	margin: auto;
	font-size: 16px;
}

#create-button:hover {
	background-color: rgb(24, 154, 214, 0.8);
}

.create-link {
	background-color: rgb(24, 154, 214);
	font-family: Montesarrat;
	color: white;
	border: none;
	height: 206px;
	width: 146px;
	cursor: pointer;
}

.create-link:hover {
	background-color: rgb(24, 154, 214, 0.8);
	border: none;
	height: 206px;
	width: 146px;
}

.create-link .puzzle-title {
	height: 170px;
	font-size: 15px;
}


