<div class="headline">
	<div id="home-button"><a routerLink="/"><img style="height: 24px" src="./../../assets/xword.jpg"/></a></div>
	<div id="headline-title"><a routerLink="/">Crossword Cloud</a></div>
	<div id="headline-sub-title"></div>
	<div id="sign-in-button" hidden style="float: right;display: block;margin-right: 30px;">Sign In</div>
	<div id="welcome-msg" hidden style="float: right;display: block;margin-right: 5px;"></div>
	<div id="create-button" style="float: right;display: block;margin-right: 30px;">
		<a routerLink="/create" id="create-button">Create +</a>
	</div>
</div>
<nav id="puzzle-nav">
	<div class="puzzle-section-title">All Puzzles</div>
	<div class="puzzle-section-selector" style="display: inline-block;">
		<div id="nav-table"></div>
	</div>
</nav>

<router-outlet></router-outlet>
