<div class="headline">
	<div id="home-button"><a routerLink="/"><img style="height: 20px" src="./../../assets/xword.jpg"/></a></div>|
	<div id="headline-title"><a routerLink="/">Crosswords</a></div>
	<div id="headline-sub-title"></div>
</div>
<nav id="puzzle-nav">
	<div style="display: inline-block;">
		<table id="nav-table"></table>
	</div>
	
</nav>
<div style="width: 100%;text-align: center;display: block;margin: auto;margin-top: 50px;">
	<a routerLink="/create" style="text-decoration: none; color:white;width: 100px; height: 30px;background-color: black;display: block;text-align: center;line-height: 30px;margin: auto;">Create</a>
</div>
<router-outlet></router-outlet>
