/* You can add global styles to this file, and also import other style files */
@font-face {
	font-family: Montesarrat;
	src: url(./assets/Montserrat-Regular.ttf);
}

body{
	font-family: Montesarrat;
	margin: 0px;
	background-color: rgb(248,247,239, 0.3);
}
